.main-container {
  height: 100vh;
  background-color:rgb(122, 183, 216);
}

.output-container{
  padding: 25px;
}

.input-container{
  height:30%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-list{
  margin : 50px 25px;
  display: flex;
}

h4{
  margin : 25px; 
}